/* Generale */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 2% auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative; /* Assicura che gli elementi posizionati siano relativi al container */
}

h1 {
    text-align: center;
}

/* Stile per i pulsanti icona in alto */
.icon-buttons-index {
    display: flex;
    gap: 5px; /* Spazio tra le due icone */
    align-items: center;
    position: absolute;
    right: 20px;
}

.icon-buttons-index i {
    color: #333;
    transition: color 0.3s ease;
}

.icon-buttons-index i:hover {
    color: #007bff; /* Cambia colore al passaggio del mouse */
}


/* Layout a griglia per la lista delle vacanze */
#vacationList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

/* Stile per ogni card della vacanza */
.vacation {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    transition: transform 0.2s, box-shadow 0.2s;
    cursor: pointer;
    position: relative; /* Per posizionare le icone assolutamente */
}

.vacation:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Stile per il nome della vacanza */
.vacation h3 {
    font-size: 1.5em;
    margin: 5px 0px 5px 0px;
    color: #333;
}

/* Stile per le date della vacanza */
.vacation p {
    font-size: 0.9em;
    color: #777;
    margin: 0px 0px 10px 0px;
}

/* Stile per le icone delle azioni (inizialmente nascoste) */
.vacation .actions {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 10px; /* Regola la posizione delle icone */
    right: 10px;
    opacity: 0; /* Inizialmente nascosto */
    transition: opacity 0.3s;
}

/* Rende le icone visibili al passaggio del mouse */
.vacation:hover .actions {
    opacity: 1;
}

/* Stile dei pulsanti di azione */
.vacation .actions button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: color 0.2s;
}

.vacation .actions button:hover {
    color: #007bff;
}

/* Modale */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5); /* Sfondo trasparente */
    backdrop-filter: blur(5px); /* Effetto sfocato */
    transition: opacity 0.3s ease; /* Transizione per apertura e chiusura */
}

/* Contenuto del modale */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    animation: slide-down 0.5s ease;
    height: min-content;
}

/* Chiusura del modale */
.close {
    color: #aaa;
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.2s ease;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* Formattazione dei campi del modulo */


.form-group label {
    display: flex;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.form-group input,
.form-group textarea {
    width: calc(100% - 20px);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    transition: border-color 0.2s ease;
    margin-bottom: 10px;
}

.form-group input:focus,
.form-group textarea:focus {
    border-color: #007bff;
}

/* Stile per la sezione dei voli */
#flights {
    background-color: #e0f7fa;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    position: relative; /* Posizionamento per le icone */
}

/* Numerazione dei voli */
#flightList .item::before {
    counter-increment: flight-counter;
    content: counter(flight-counter) ". ";
    font-weight: bold;
}

/* Stile per la sezione degli hotel */
#hotels {
    background-color: #e8f5e9;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    position: relative; /* Posizionamento per le icone */
}

/* Stile per la sezione dell'itinerario */
#itinerary {
    background-color: #fff3e0;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    position: relative; /* Posizionamento per le icone */
}

/* Stile per le azioni in dettaglio vacanza (nascoste inizialmente) */
.section .actions {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 10px;
    right: 10px;
    opacity: 0;
    transition: opacity 0.3s;
}

/* Rende le icone visibili al passaggio del mouse nella sezione */
.section:hover .actions {
    opacity: 1;
}

/* Animazione di apertura del modale */
@keyframes slide-down {
    from {
        transform: translateY(-20%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Media Query per Responsività */
@media (max-width: 600px) {
    
    #vacationList {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 15px;
    }
}


/* Aggiungi nuove classi CSS per il nuovo layout dei voli */

.flight-item, .hotel-item, .itinerary-item {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin-bottom: 15px;
    transition: transform 0.2s, box-shadow 0.2s;
    position: relative;
}

.flight-item:hover, .hotel-item:hover, .itinerary-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.flight-footer,
.flight-header {
    justify-content: space-between;
    font-size: 0.7em;
    color: #555;
}

.hotel-content,
.itinerary-content {
    justify-content: space-between;
    font-size: 0.8em;
    color: #555;
}

.flight-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

.flight-time, .itinerary-content p {
    font-size: 1.3em;
    font-weight: bold;
    color: #333;
}

.hotel-dates {
    color: #333;
    padding: 10px 0px 0px
}

.flight-info p {
    margin: 0;
    font-size: 0.8em;
}

.hotel-info p {
    margin: 0;
    font-size: 1em;
}

.hotel-dates div {
    font-size: 0.9em;
    color: #777;
    padding: 0px 0px 3px;
}

.flight-duration {
    font-size: 0.8em;
    color: #777;
}

.itinerary-content p {
    font-size: 1em;
    color: #777;
}

.flight-item .actions, .hotel-item .actions, .itinerary-item .actions {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
}

.flight-item:hover .actions, .hotel-item:hover .actions, .itinerary-item:hover .actions {
    display: flex;
    gap: 10px;
}

.flight-item .actions button, .hotel-item .actions button, .itinerary-item .actions button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
    transition: color 0.2s;
}

.flight-item .actions button:hover, .hotel-item .actions button:hover, .itinerary-item .actions button:hover {
    color: #007bff;
}


.arrival-date {
    text-align: right;
}



/* Stili per la pagina di login */

.container-login {
    max-width: 400px; /* Riduci la larghezza per la pagina di login */
    margin: 10% auto; /* Centra verticalmente e orizzontalmente */
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    padding: 10px 0px 0px 0px;
}

/* Stile per il div della mappa */
#map {
    width: 100%;  /* Assicura che la mappa prenda tutta la larghezza */
    height: 400px;  /* Altezza fissa per garantire una buona visualizzazione */
    min-height: 400px; /* Altezza minima per evitare la visualizzazione incompleta */
}

.itinerary-content div {
    font-size: 0.9em;
    color: #777;
}

/* Posizionamento dell'icona del calendario */
.calendar-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 100;
}

/* Container del calendario */
.calendar-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 80%; /* Puoi regolare la larghezza */
    max-width: 800px;
    min-height: 600px; /* Aggiungi un'altezza minima adeguata */
    display: flex; /* Usato per centrare il calendario */
    justify-content: center;
    align-items: center;
}

/* Calendar FullCalendar specifico */
#calendar {
    width: 100%;  /* Assicurati che il calendario prenda tutta la larghezza */
    height: auto;
    min-height: 500px; /* Forza una minima altezza */
}


/* Effetto hover per l'icona del calendario */
.calendar-icon:hover {
    cursor: pointer;
    color: #007bff;
}

/* Overlay per il calendario */
.calendar-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Sfondo semi-trasparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Porta in primo piano l'overlay */
}

/* Icona del calendario */
.calendar-icon:hover {
    cursor: pointer;
    color: #007bff;
}


#daySelectorContainer {
    display: flex;
    margin-bottom: 10px;  /* Spazio tra il div e la mappa */
    align-items: flex-start;  /* Allinea a sinistra il contenuto */
}

#daySelectorContainer label {
    font-size: 16px;
    font-weight: bold;
    color: #333;  /* Colore più scuro per il testo */
    margin-bottom: 5px;  /* Piccolo spazio tra l'etichetta e il selettore */
}

#daySelector {
    border: 1px solid #cccccc;  /* Bordo arrotondato e definito */
    border-radius: 5px;  /* Bordi arrotondati per un aspetto più moderno */
    background-color: #f9f9f9;  /* Sfondo leggero per un aspetto più soft */
    color: #333;  /* Colore del testo */
    outline: none;  /* Rimuove il bordo di default quando selezionato */
    transition: border-color 0.3s ease;  /* Transizione per effetti hover */
    margin: 0px 0px 0px 10px
}

#daySelector:hover {
    border-color: #007bff;  /* Colore del bordo al passaggio del mouse */
}

#daySelector:focus {
    border-color: #0056b3;  /* Colore del bordo quando è selezionato */
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.25);  /* Aggiunge un'ombra per il focus */
}

#search-container {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

#mapSearchInput {
    width: 90%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-right: 10px;
}

#mapSearchInput:focus {
    border-color: #007bff;
}

#search-container button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.countdown-wrapper {
    display: flex;
    justify-content: center;
    gap: 20px; /* Spazio tra i blocchi */
}

.countdown-container {
    display: flex;
    gap: 15px; /* Spazio tra i blocchi del countdown */
    justify-content: center;
}

.countdown-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Courier New', monospace; /* Font tipico da pannello di stazione */
}

.countdown-number {
    font-size: 28px; /* Numero grande per evidenziarlo */
    color: #fff; /* Testo bianco */
    background-color: #333; /* Sfondo nero, simile a un pannello a led */
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: inline-block;
    transition: all 0.3s ease-in-out;
    perspective: 1000px; /* Aggiungi profondità per l'effetto flip */
    position: relative;
    overflow: hidden;
}

.countdown-number:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 1px;
    background: #111;
    transform: translateY(-50%);
    z-index: 2;
}

.countdown-number.flip {
    animation: flip 0.6s ease-in-out;
}

@keyframes flip {
    0% {
        transform: rotateX(0deg);
    }
    50% {
        transform: rotateX(-90deg);
    }
    100% {
        transform: rotateX(0deg);
    }
}

.countdown-label {
    font-size: 14px;
    color: black;
    margin-top: 5px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* Stile generale per i pulsanti */
.fc .fc-button {
    background-color: #ffffff !important; /* Colore di sfondo bianco */
    border: 1px solid #3498db !important; /* Bordi blu più sottili */
    color: #3498db !important; /* Testo blu */
    padding: 5px 10px !important; /* Riduci il padding per un pulsante più piccolo */
    font-size: 12px !important; /* Dimensione testo più piccola */
    border-radius: 4px !important; /* Angoli arrotondati leggeri */
    font-family: Arial, sans-serif !important; /* Font semplice */
    transition: background-color 0.3s ease, color 0.3s ease !important; /* Transizioni morbide */
    min-width: 50px !important; /* Imposta una larghezza minima per rendere i pulsanti uniformi */
    margin-right: 3px !important; /* Riduci lo spazio tra ogni singolo pulsante */
}

/* Colore del testo quando il pulsante è attivo */
.fc .fc-button.fc-button-active {
    background-color: #3498db !important; /* Sfondo blu quando attivo */
    color: white !important; /* Testo bianco quando attivo */
}

/* Stile al passaggio del mouse */
.fc .fc-button:hover {
    background-color: #3498db !important; /* Sfondo cambia al passaggio del mouse */
    color: #ffffff !important; /* Testo diventa bianco */
    cursor: pointer !important;
}

/* Pulsante "Today" personalizzato */
.fc .fc-button.fc-today-button {
    background-color: #2ecc71 !important; /* Colore verde per il pulsante "Today" */
    border-color: #2ecc71 !important; /* Bordo verde */
    color: white !important; /* Testo bianco */
    padding: 4px 5px !important; /* Riduci il padding per renderlo più piccolo */
    font-size: 12px !important; /* Font size più piccola */
}

/* Hover sul pulsante "Today" */
.fc .fc-button.fc-today-button:hover {
    background-color: #27ae60 !important; /* Verde scuro al passaggio del mouse */
    border-color: #27ae60 !important;
}

/* Pulsanti di navigazione prev/next */
.fc .fc-button.fc-prev-button, .fc .fc-button.fc-next-button {
    background-color: #f4f4f4 !important; /* Sfondo chiaro */
    border: 1px solid #bdc3c7 !important; /* Colore di bordo grigio chiaro più sottile */
    color: #2c3e50 !important; /* Testo grigio scuro */
    padding: 4px 5px !important; /* Riduci il padding per renderli più piccoli */
    font-size: 12px !important; /* Font size più piccola */
    min-width: 35px !important; /* Imposta una larghezza minima per i pulsanti di navigazione */
}

/* Hover sui pulsanti di navigazione prev/next */
.fc .fc-button.fc-prev-button:hover, .fc .fc-button.fc-next-button:hover {
    background-color: #bdc3c7 !important; /* Grigio chiaro al passaggio del mouse */
    border-color: #7f8c8d !important; /* Bordi grigio più scuro */
    color: white !important; /* Testo bianco */
}

.fc .fc-button-group {
    margin-left: 1px !important; /* Riduci lo spazio tra il gruppo di frecce e il pulsante "Today" */
}

/* Stili per il popup di conferma */
#confirmModal {
    display: none; /* Nascondi il modale di default */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Sfondo trasparente */
    backdrop-filter: blur(5px); /* Sfocatura dello sfondo */
    justify-content: center;
    align-items: center;
}

#confirmModal .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

#confirmModal .modal-content h2 {
    font-size: 18px;
    margin-bottom: 15px;
}

#confirmModal .modal-content button {
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

#confirmModal .btn-confirm {
    background-color: #007bff;
    color: white;
}

#confirmModal .btn-cancel {
    background-color: #e0e0e0;
    color: #333;
}

/* Login Password */
.password-wrapper {
    position: relative;
    display: flex;
    align-items: center; /* Allinea verticalmente l'icona */
}

.btn-login {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.password-wrapper input {
    flex: 1;
    padding-right: 40px; /* Spazio sufficiente per l'icona */
}

.password-wrapper i {
    position: absolute;
    right: 10px;
    top: 40%;  /* Posiziona l'icona a metà dell'altezza del contenitore */
    transform: translateY(-50%);  /* Centra verticalmente l'icona */
    cursor: pointer;
    color: #777;
    font-size: 12px; /* Riduci la dimensione dell'icona */
    transition: color 0.3s ease;
}

.password-wrapper i:hover {
    color: #000;
}

/* Stile per i pulsanti icona vacation_details */
.icon-buttons-vacation-details {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.icon-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
    transition: color 0.3s ease;
    color: inherit;
}

.icon-btn:hover {
    color: #007bff;
}

/* Stile per il pulsante goBack */
.backButton {
    position: absolute;
    right: 20px; /* Sposta la freccia a destra */
    top: 20px;   /* Regola l'altezza per allinearla alla parte superiore */
    cursor: pointer; /* Assicurati che il cursore cambi in una manina al passaggio del mouse */
}

.backButton {
    color: #333; /* Colore iniziale */
    transition: color 0.3s ease; /* Aggiunge una transizione per il colore */
}

.backButton:hover {
    color: #007bff; /* Cambia colore al passaggio del mouse */
}



#sticky-part {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: white; /* Mantiene lo sfondo bianco mentre scorre il resto */
    padding: 10px;
    border-radius: 10px;
}


/* Stile generale per la pagina delle spese */
.expense-container {
    position: relative;
    max-width: 600px;
    margin: 2% auto;
    background: #fefefe;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.expense-container h1 {
    text-align: center;
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

/* Stile per i pulsanti di categoria */
.category-buttons {
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
}

.category-buttons button {
    display: flex;
    align-items: flex-end;
    margin: 0 5px;
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #e5e7eb;
    color: #333;
    transition: background-color 0.3s, transform 0.3s;
}


.category-buttons button.selected {
    background-color: #2d81db;  /* Colore blu quando selezionato */
    color: white;
}

/* Stile per schermi più piccoli, ad esempio dispositivi mobili */
@media (max-width: 600px) {
    .category-buttons {
        display: flex;
        overflow-x: auto;
        white-space: nowrap;
        padding: 10px 0;
        gap: 10px 0px;
        flex-wrap: nowrap;
        justify-content: space-evenly;
    }

    .category-buttons button {
        flex: 0 0 auto; /* Mantiene i bottoni sulla stessa riga */
        font-size: 12px; /* Riduce la dimensione del testo */
        padding: 10px; /* Riduce il padding */
        min-width: 70px; /* Riduce la larghezza minima del bottone */
    }

    .category-buttons i {
        font-size: 14px; /* Riduce la dimensione delle icone */
    }
}


/* Stile del pulsante Aggiungi Spesa */
.btn-add-expense {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 8px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #2d81db;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.span-add-expense {
    margin-left: 5px;
}

/* Stile del pulsante di salvataggio */
.btn-save {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    margin-top: 20px;
}

.btn-save i {
    margin-right: 5px;  /* Spazio tra l'icona e il testo */
}


/* Stile per la visualizzazione delle spese */
.expense-list {
    margin-top: 20px;
}

.expense-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f3f4f6;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}


.expense-item p {
    margin: 0;
    font-size: 16px;
}

.expense-item .expense-amount {
    font-size: 18px;
    color: #161616;
}

.expense-row {
    display: flex;
    align-items: center; /* Allinea verticalmente icona e testo */
}

.riga_spesa i {
    margin-right: 10px; /* Aggiungi uno spazio tra l'icona e il testo */
}

.expense-description {
    margin-left: 10px; /* Eventuale ulteriore spaziatura tra l'icona e il testo */
}


/* Stile dei campi di input */


.form-group input::placeholder {
    color: #bbb;  /* Colore del placeholder più chiaro */
}

/* Stile per la sezione del Totale */
.total-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #eaf4ff;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: #007bff;
    margin-top: 20px;
}

.total-container span {
    font-size: 24px;
}

/* Animazione per l'aggiunta di una spesa (dissolvenza dal basso verso l'alto) */
.fade-in-bottom {
    animation: fadeInBottom 1s ease forwards;
}

@keyframes fadeInBottom {
    0% {
        opacity: 0;
        transform: translateY(20px); /* Inizia dal basso */
    }
    100% {
        opacity: 1;
        transform: translateY(0); /* Termina nella posizione originale */
    }
}

/* Animazione per l'eliminazione di una spesa (dissolvenza verso sinistra) */
.fade-out-left {
    animation: fadeOutLeft 1s ease forwards;
}

@keyframes fadeOutLeft {
    0% {
        opacity: 1;
        transform: translateX(0); /* Posizione originale */
    }
    100% {
        opacity: 0;
        transform: translateX(-50%); /* Si sposta fuori dallo schermo verso sinistra */
    }
}

[data-lucide] {
    width: 18px;
    height: 18px;
}

.icon_plane, .icon_hotel, .icon_car, .icon_shopping-cart, .icon_activity, .icon_list {
    margin-right: 5px;
}

/* Stile del pulsante di eliminazione */
.delete-expense {
    padding: 4px;
    background-color: #ef4444;  /* Rosso */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 5px;
}
  
.delete-expense:hover {
    background-color: #dc2626;  /* Rosso più scuro per l'hover */
}
  
.delete-expense i {
    display: block;
    width: 18px;
    height: 18px;
}

.add-vacation-span {
margin-left: 5px;
}


